[Desktop Entry]
Type=Application
Name=flychess
Comment=flychess is a fully featured, nice looking, easy to use chess client for the Gnome desktop
GenericName=Chess Game
Icon=flychess
Exec=env UBUNTU_MENUPROXY= flychess
Terminal=false
Categories=Game;BoardGame;
MimeType=application/x-chess-pgn;application/x-chess-epd;application/x-chess-fen;application/x-chess-flychess;
